/* 全局樣式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
  }
  
  nav li {
    margin: 10px;
  }
  
  .brand-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
  }
  
  .brand-link img {
    width: 100px;
    height: 100px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* 响應式設計 */
  @media (max-width: 600px) {
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  }
  